{% extends "index.html" %}

{% block links %}
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="/contact">
      Contact
    </a>
  </li>
{% endblock %}

{% block maincontainer %}
  <div class="row" style="padding:bottom">
    <h1>About</h1>
  </div>
{% endblock %}
