{% extends "index.html" %}

{% block links %}
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="/about">
      About
    </a>
  </li>
{% endblock %}

{% block maincontainer %}
  <div class="row" style="padding:bottom">
    <h1>Contact</h1>
  </div>
{% endblock %}
