{% load staticfiles %}
<html>
  <head>
    <title>OLA WATKINNER!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static "/media/css/bootstrap.css" %}" />
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  OLA
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                  {% block links %}
                  {% endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <div class="main-container"> 
      <div class="vert-wrapper">
        <div class="container">
          {% block maincontainer %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{% static "/media/js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "/media/js/bootstrap.min.js" %}"></script>
  </body>
</html>
